body {
	font-family:MuseoSansCyrl-500;
	background-color: #D5F0F3;
	font-size: 18px;
}

h2 {
	font-size: 30px;
	margin-bottom: 19px;
}

h3 {
	float:left;
	font-size: 16px;
	width:180px;
}
ul {
	float:left;
	padding-left:100px;
}
a {
	color: #383838;
}

a:hover {
	color: #F3BC00;;
}

/* header */

#user_link img
{
	width:58px;
	height:58px;
}
#user_link
{
	width:58px;
	height:58px;
	padding:4px;
	border:1px #e3e3e3 solid;
	border-radius:3px;
	background:#fff;
	display:inline-block;
	text-decoration:none;
}
			
#header {
	height:50px;
	margin-bottom: 25px;
	text-align: center;
}

/* content view */

#content {
	width: 650px;
	margin: 0px auto;
	padding: 20px;
	color: #383838;
}

#content p {
	font-size: 20px;
	font-weight: bold;
}

#content-inner-container {
	background-color: #F7F7F7;
	border: 1px solid #cacaca;
	padding: 30px 46px;
	box-shadow: 0px 1px 0px #fff;
	height:auto;

}

#content-inner-container h2 {
	text-align: left;
	color: #777777;
	font-size: 18pt;
}
.clear{ clear:both}
li{
	list-style:none;
	margin:0 10px 10px 0;
	position:relative;
}

#maxtabnumber{
	width:50px;
	
}

.setting{
	float:left;
	border-top: 1px solid #0BC49C;
	width:100%;
}
span{
width:100px;
padding-right:10px;
}
/* Copyright */

#copyright {
	text-align: center;
	color: #777777;
	font-size: 12px;
	margin-bottom: 40px;
	font-weight: 300;
}